.orderPlaced__container {
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 40px;
}

.orderPlaced__image {
  width: 40px;
  height: 35px;
}
.orderPlaced__button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 60px;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 20px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  font-size: x-large;
}
