.viewProduct {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 40px;
  padding-left: 10%;
}
.viewproduct__head {
  background-color: white;
}

.viewProduct__title {
  padding-left: 10%;
  width: 40%;
  font-size: large;
}
.viewProduct__price {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: large;
  display: flex;
}
.viewProduct__rating {
  display: flex;
}
.viewProduct__amount {
  color: #c5760f;
}
.viewProduct__image {
  text-align: center;
}
.viewProduct__button {
  padding-left: 50%;
  display: flex;
}
.viewProduct__subbutton {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 190px;
}
.viewProduct__mrp {
  margin-top: 5px;
  margin-right: 10px;
}
.viewProduct__instock {
  color: green;
}
.viewProduct__sday {
  margin-top: 10%;
  width: 100%;
  height: 150px;
}

.image__hover:hover {
  transform: scale(1.5);
}
